html {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
    color: #22223b;
    background-color: #f2e9e4;
  }
  
  body {
    width: 940px;
    margin: 0 auto;
    background-color: #f2e9e4;
  }
  
  hr {
    color: #22223b;
  }
  
  .logo {
    vertical-align: middle;
  }
  
  #mainImage {
    width: 940px;
    margin: auto;
    display: block;
    box-shadow: 1px 2px 10px 5px black;
  }

  #header {
    font-size: 1em;
  }
  
  #header img {
    vertical-align: middle;
    max-height: 4em;
    height:80px;
    width:80px;
  }
  
  #header ul {
    display: inline-block;
  }
  
  #header ul > li {
    display: inline-block;
    margin-right: 30px;
  }
  
  #header a {
    color: inherit;
    text-decoration: none;
  }


  #header a:hover {
    color:#9a8c98;
  }
  
  .footer {
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    width: 940px;
    font-size: 20px;
  }

  .footer ul{
    padding:0; 
    list-style-type:none; 
    display: inline-block;
    vertical-align: top;
    margin-left: 95px;
  }

  .footer img{
  height:50px;
  width:50px;
  }

  .footer a:hover {
    color:#9a8c98;
  }

  .footer a{
    text-decoration: none;
    color: blue;
  }
  
  #mainHeader {
    text-align: center;
    font-size: 55px;
  }
  
  #grid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  #headerMenyTekst {
    font-size: 25px;
    font-style: italic;
  }

  .vegetariansk {
    color: darkgreen;
  }

  .image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 300px;
    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
  }

  .image-grid > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-shadow: 1px 2px 10px 5px black;
  }

  #sjefenImage {
    display: block;
    margin: auto;
    box-shadow: 1px 2px 10px 5px black;
  }

  .chef-grid {
    --gap: 16px;
    --num-cols: 2;
    --num-rows: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    gap: var(--gap);
  }

  .chef-item > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
   box-shadow: 1px 2px 10px 5px black;
  }
  
  .chef-item {
    text-align: center;
  }

  .mapouter{
    position:relative;
    text-align:right;
    height:250px;
    width:940px;
  }

  .gmap_canvas{
    overflow:hidden;
    background:none;
    height:250px;
    width:940px;
    border: none;
  }

  .gmap